<form action="/products/edit-Products" method="POST">
    <div style="display:grid; place-items: center; " >
    <div class="mb-3 " style="width:50%">
        <label for="formGroupExampleInput"  class="form-label">Id</label>
        <input type="text" class="form-control" name="_id" value="{{selectProduct._id}}" id="formGroupExampleInput" placeholder="Id">
    </div>
    <div class="mb-3 " style="width:50%">
        <label for="formGroupExampleInput"  class="form-label">Name</label>
        <input type="text" class="form-control" name="pName" value="{{selectProduct.pName}}" id="formGroupExampleInput" placeholder="Name">
    </div>
    <div class="mb-3" style="width:50%">
    <label for="formGroupExampleInput2" class="form-label">Description</label>
    <input type="text" class="form-control" name="pDesc" value="{{selectProduct.pDesc}}" id="formGroupExampleInput2" placeholder="Description">
    </div>
    <div class="mb-3" style="width:50%">
    <label for="formGroupExampleInput2" class="form-label">Price</label>
    <input type="text" class="form-control" name="pPrice" value="{{selectProduct.pPrice}}" id="formGroupExampleInput2" placeholder="Price">
    </div>
    <div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</div>
</form>